body {
	background-color: #eeeeee;
	font-size: 12px;
	font-family: Verdana, "Verdana CE", Arial, "Arial CE",
		"Lucida Grande CE", lucida, "Helvetica CE", sans-serif;
	color: #000000;
	margin: 10px;
}

h1 {
	font-family: Arial, "Arial CE", "Lucida Grande CE", lucida,
		"Helvetica CE", sans-serif;
	font-size: 24px;
	font-weight: bold;
	margin: 0px;
	padding: 0px;
	color: #55A616;
}

h2 {
	font-family: Arial, "Arial CE", "Lucida Grande CE", lucida,
		"Helvetica CE", sans- serif;
	font-size: 20px;
	font-weight: bold;
	margin: 0 0 10px 0;
	padding: 0px;
	color: #55A616;
}

a:link, a:visited {
	color: #333;
	font-size: 12px;
	text-decoration: none;
}

a:link:hover, a:visited:hover {
	color: #333;
	font-size: 12px;
	text-decoration: underline;
}

.panelGridClass td {
	vertical-align: top;
}

input.ipt-large {
	width: 100%;
}

.btnPadrao {
	margin-top: 10px;
}

header img {
	width: 70px;
}

form input {
	width: 100%;
}

.botao-cadastro {
	margin-bottom: 20px;
}

.ui-selectoneradio .ui-radiobutton {
	margin-right: 5px;
}

.ui-selectoneradio label {
	margin-right: 20px;
}

.text-center {
	text-align: center;
}