.ui-widget, .ui-widget .ui-widget, .ui-widget .ui-wizard-step-title,
	.ui-widget td.label, .ui-widget td.value, .ui-widget label, table {
	font-size: 12px !important;
}

.ui-panel {
	margin-bottom: 10px;
}