<html xmlns="http://www.w3.org/1999/xhtml"
	xmlns:h="http://java.sun.com/jsf/html"
	xmlns:f="http://java.sun.com/jsf/core"
	xmlns:ui="http://java.sun.com/jsf/facelets"
	xmlns:p="http://primefaces.org/ui">

<h:head>
	<meta charset="utf-8" />
	<meta http-equiv="X-UA-Compatible" content="IE=edge" />

	<meta name="viewport" content="width=device-width, initial-scale=1" />
	<title>Vídeo Locadora Sétima Arte</title>

	<link rel="stylesheet" type="text/css"
		href="#{request.contextPath}/resources/css/app.css" />
		
	<link rel="stylesheet" type="text/css"
		href="#{request.contextPath}/resources/css/overrides.css" />
</h:head>
<body>

	<p:layout fullPage="true">

		<p:layoutUnit position="north" size="140">
			<ui:include src="/template/header.xhtml" />
		</p:layoutUnit>

		<p:layoutUnit position="west" size="190">
			<h:form>
				<p:menu>
					<p:menuitem value="Página Inicial" url="/funcionario/index.xhtml"></p:menuitem>
				</p:menu>
				<p:menu>
					<p:submenu label="Cadastro do Acervo">
						<p:menuitem value="Gerenciar Diretores"
							url="/funcionario/gerenciarDiretores.xhtml" />
						<p:menuitem value="Gerenciar Atores"
							url="/funcionario/gerenciarAtores.xhtml" />
						<p:menuitem value="Gerenciar Clientes"
							url="/funcionario/gerenciarClientes.xhtml" />
						<p:menuitem value="Gerenciar Categorias"
							url="/funcionario/gerenciarCategorias.xhtml" />
						<p:menuitem value="Gerenciar Filmes"
							url="/funcionario/gerenciarFilmes.xhtml" />
						<p:menuitem value="Reservar Filmes"
							url="/funcionario/reservarFilmes.xhtml" />
					</p:submenu>
				</p:menu>
				<p:menu>
					<p:menuitem value="Sair do Sistema" icon="ui-icon-close" />
				</p:menu>
			</h:form>
		</p:layoutUnit>

		<p:layoutUnit position="center">
			<h2 class="text-center">Área do funcionário</h2>

			<ui:insert name="conteudo" />
		</p:layoutUnit>

		<p:layoutUnit position="south" size="50">
			<ui:include src="/template/footer.xhtml" />
		</p:layoutUnit>

	</p:layout>

	<script type="text/javascript" src="../resources/js/app.js" />
</body>
</html>
