<html xmlns="http://www.w3.org/1999/xhtml"
	xmlns:ui="http://xmlns.jcp.org/jsf/facelets">

<ui:composition>
	<footer>
		<p class="text-center">LPIII - Aplicação Web</p>
	</footer>
	
	<ui:insert name="extraJs" />
</ui:composition>
</html>
