<html xmlns="http://www.w3.org/1999/xhtml"
	xmlns:ui="http://xmlns.jcp.org/jsf/facelets">

<ui:composition>
	<header>
		
		<h1 class="text-center">
			<img src="#{request.contextPath}/resources/img/popcorntime.png" /> Vídeo Locadora Sétima Arte
		</h1>
	</header>
</ui:composition>
</html>
