<html xmlns="http://www.w3.org/1999/xhtml"
	xmlns:h="http://java.sun.com/jsf/html"
	xmlns:p="http://primefaces.org/ui"
	xmlns:ui="http://java.sun.com/jsf/facelets">

<ui:composition template="/template/defaultFuncionario.xhtml">

	<ui:define name="conteudo">

		<h:form prependId="false">
			<p:growl autoUpdate="true" sticky="true" />
		</h:form>

		<h:form prependId="false">
			<p:panel header="Diretores Cadastrados">

				<p:commandButton value="Cadastrar diretores"
					action="#{diretorBean.limpar()}" update="diretor-form"
					oncomplete="PF('panel-diretor-form').show();"
					icon="ui-icon-circle-plus" class="botao-cadastro" />
                                
				<p:dataTable id="diretor-datatable" var="diretor"
					value="#{diretorBean.all}"
					filteredValue="#{diretorBean.diretoresFiltrados}"
					emptyMessage="Nenhum registro encontrado.">

					<p:column filterBy="#{diretor.nome}" headerText="Nome">
						<h:outputText value="#{diretor.nome}" />
					</p:column>

					<p:column headerText="Ganhador de Oscar">
						<h:outputText value="#{diretor.ganhadorDoOscar ? 'Sim' : 'Não'}" />
					</p:column>

					<p:column headerText="Ação">
						<p:commandButton value="Remover"
							action="#{diretorBean.remover(diretor.id)}"
							update="diretor-datatable" />

						<p:commandButton value="Editar"
							action="#{diretorBean.carregar(diretor.id)}"
							oncomplete="PF('panel-diretor-form').show();"
							update="diretor-form" />
					</p:column>

				</p:dataTable>
			</p:panel>
		</h:form>

		<p:panel header="Dados do Diretor" widgetVar="panel-diretor-form"
			closable="true" visible="false">

			<h:form prependId="false" id="diretor-form">

				<p:panel>
					<h:panelGrid columns="2" columnClasses="label,value"
						styleClass="grid">

						<h:outputText value="Nome *" />
						<p:inputText label="Nome" value="#{diretorBean.diretor.nome}" />

						<h:outputText value="Ganhador de Oscar: *" />
						<p:selectBooleanCheckbox value="#{diretorBean.diretor.ganhadorDoOscar}" />

					</h:panelGrid>
				</p:panel>

				<p:panel>
					<p:commandButton value="Cadastrar" action="#{diretorBean.salvar}"
						update="diretor-datatable,diretor-form"
						oncomplete="hidePanelOnSuccess(xhr, status, args, 'panel-diretor-form');"
						icon="ui-icon-circle-plus" rendered="#{!diretorBean.editar}" />

					<p:commandButton value="Atualizar"
						action="#{diretorBean.atualizar}"
						update="diretor-datatable,diretor-form"
						oncomplete="hidePanelOnSuccess(xhr, status, args, 'panel-diretor-form');"
						icon="ui-icon-circle-plus" rendered="#{diretorBean.editar}" />
				</p:panel>
			</h:form>
		</p:panel>

	</ui:define>
</ui:composition>
</html>