<html xmlns="http://www.w3.org/1999/xhtml"
	xmlns:h="http://java.sun.com/jsf/html"
	xmlns:p="http://primefaces.org/ui"
	xmlns:f="http://java.sun.com/jsf/core"
	xmlns:ui="http://java.sun.com/jsf/facelets">

<ui:composition template="/template/defaultFuncionario.xhtml">

	<ui:define name="conteudo">

		<h:form prependId="false">
			<p:growl autoUpdate="true" sticky="true" />
		</h:form>

		<h:form prependId="false">

			<p:panel header="Categorias Cadastradas">

				<p:commandButton value="Cadastrar categorias"
					action="#{categoriaBean.limpar()}" update="categoria-form"
					oncomplete="PF('panel-categoria-form').show();"
					icon="ui-icon-circle-plus" class="botao-cadastro" />

				<p:dataTable id="categoria-datatable" var="categoria"
					value="#{categoriaBean.all}"
					emptyMessage="Nenhum registro encontrado.">

					<p:column headerText="Tipo">
						<h:outputText value="#{categoria.tipo}" />
					</p:column>

					<p:column headerText="Valor">
						<h:outputText value="#{categoria.valor}" />
					</p:column>

					<p:column headerText="Dias de locação">
						<h:outputText value="#{categoria.diasDeLocacao}" />
					</p:column>

					<p:column headerText="Ação">
						<p:commandButton value="Remover"
							action="#{categoriaBean.remover(categoria.id)}"
							update="categoria-datatable" />

						<p:commandButton value="Editar"
							action="#{categoriaBean.carregar(categoria.id)}"
							oncomplete="PF('panel-categoria-form').show();"
							update="categoria-form" />
					</p:column>

				</p:dataTable>


			</p:panel>
		</h:form>

		<p:panel header="Dados da Categoria" widgetVar="panel-categoria-form"
			closable="true" visible="false">

			<h:form prependId="false" id="categoria-form">

				<p:panel>
					<p:panelGrid columns="2" columnClasses="label,value"
						styleClass="grid">

						<h:outputText value="Tipo: " />
						<p:selectOneRadio value="#{categoriaBean.categoria.tipo}">
							<f:selectItems value="#{categoriaBean.tipos}" var="tipo"
								itemLabel="#{tipo}" itemValue="#{tipo}" />
						</p:selectOneRadio>

						<h:outputText value="Valor: " />
						<p:inputText value="#{categoriaBean.categoria.valor}" />

						<h:outputText value="Dias de locação: " />
						<p:spinner min="0"
							value="#{categoriaBean.categoria.diasDeLocacao}" />
					</p:panelGrid>
				</p:panel>
				<p:panel>

					<p:commandButton value="Cadastrar"
						action="#{categoriaBean.salvar()}"
						update="categoria-datatable,categoria-form"
						oncomplete="hidePanelOnSuccess(xhr, status, args, 'panel-categoria-form');"
						icon="ui-icon-circle-plus" rendered="#{!categoriaBean.editar}" />

					<p:commandButton value="Atualizar"
						action="#{categoriaBean.atualizar()}"
						update="categoria-datatable,categoria-form"
						oncomplete="hidePanelOnSuccess(xhr, status, args, 'panel-categoria-form');"
						icon="ui-icon-circle-plus" rendered="#{categoriaBean.editar}" />
				</p:panel>
			</h:form>
		</p:panel>
	</ui:define>
</ui:composition>
</html>