<html xmlns="http://www.w3.org/1999/xhtml"
	xmlns:h="http://java.sun.com/jsf/html"
	xmlns:p="http://primefaces.org/ui"
	xmlns:f="http://java.sun.com/jsf/core"
	xmlns:ui="http://java.sun.com/jsf/facelets">

<ui:composition template="/template/defaultFuncionario.xhtml">

	<ui:define name="conteudo">

		<h:form prependId="false">
			<p:growl autoUpdate="true" sticky="true" />
		</h:form>

		<h:form prependId="false">

			<p:panel header="Clientes Cadastrados">

				<p:commandButton value="Cadastrar cliente"
					action="#{clientesBean.limpar()}" update="cliente-form"
					oncomplete="PF('panel-cliente-form').show();"
					icon="ui-icon-circle-plus" class="botao-cadastro" />

				<p:dataTable id="cliente-datatable" var="cliente"
					value="#{clientesBean.all}"
					emptyMessage="Nenhum registro encontrado.">


					<p:column headerText="Nome">
						<h:outputText value="#{cliente.nome}" />
					</p:column>

					<p:column headerText="CPF">
						<h:outputText value="#{cliente.cpf}" />
					</p:column>

					<p:column headerText="Telefone Residencial">
						<h:outputText value="#{cliente.endereco.telefoneResidencial}" />
					</p:column>

					<p:column headerText="Celular">
						<h:outputText value="#{cliente.endereco.celular}" />
					</p:column>

					<p:column headerText="Ação">
						<p:commandButton value="Remover"
							action="#{clientesBean.remover(cliente.id)}"
							update="cliente-datatable" />

						<p:commandButton value="Editar"
							action="#{clientesBean.carregar(cliente.id)}"
							oncomplete="PF('panel-cliente-form').show();"
							update="cliente-form" />
					</p:column>

				</p:dataTable>

			</p:panel>
		</h:form>

		<p:panel header="Dados do cliente" widgetVar="panel-cliente-form"
			closable="true" visible="false">

			<h:form prependId="false" id="cliente-form">

				<p:wizard backLabel="Anterior" nextLabel="Próximo">

					<p:tab title="1. Dados Pessoais">
						<p:panel header="Dados pessoais">

							<p:panelGrid columns="2" columnClasses="label,value"
								styleClass="grid">

								<h:outputLabel value="Nome" />
								<p:inputText label="Nome" value="#{clientesBean.cliente.nome}" />

								<h:outputLabel value="CPF" />
								<p:inputMask label="CPF" value="#{clientesBean.cliente.cpf}"
									mask="999.999.999-99" />

								<h:outputLabel value="RG" />
								<p:inputText label="RG" value="#{clientesBean.cliente.rg}" />

								<h:outputLabel value="Data de nascimento" />
								<p:calendar label="Data de nascimento"
									value="#{clientesBean.cliente.dataDeNascimento}"
									pattern="dd/MM/yyyy" navigator="true" yearRange="c-30:c+0">

									<f:convertDateTime pattern="dd/MM/yyyy" />
								</p:calendar>

								<h:outputText value="Sexo: " />
								<p:selectOneRadio label="Sexo"
									value="#{clientesBean.cliente.sexo}">
									<f:selectItems value="#{clientesBean.sexos}" var="sexo"
										itemLabel="#{sexo}" itemValue="#{sexo}" />
								</p:selectOneRadio>

								<h:outputText value="Estado Civil: " />
								<p:selectOneListbox label="Estado civil"
									value="#{clientesBean.cliente.estadoCivil}">
									<f:selectItems value="#{clientesBean.estadosCivis}"
										var="estadoCivil" itemLabel="#{estadoCivil}"
										itemValue="#{estadoCivil}" />
								</p:selectOneListbox>
							</p:panelGrid>
						</p:panel>

					</p:tab>

					<p:tab title="2. Endereço e contatos">
						<p:panel header="Endereço e contatos">

							<p:panelGrid columns="2" columnClasses="label,value"
								styleClass="grid">
								<h:outputLabel value="Logradouro" />
								<p:inputText value="#{clientesBean.cliente.endereco.logradouro}"
									label="Logradouro" />

								<h:outputLabel value="Número" />
								<p:inputText value="#{clientesBean.cliente.endereco.numero}"
									label="Número" />

								<h:outputLabel value="Complemento" />
								<p:inputText
									value="#{clientesBean.cliente.endereco.complemento}"
									label="Complemento" />

								<h:outputLabel value="Bairro" />
								<p:inputText value="#{clientesBean.cliente.endereco.bairro}"
									label="Bairro" />

								<h:outputLabel value="Cidade" />
								<p:inputText value="#{clientesBean.cliente.endereco.cidade}"
									label="Cidade" />

								<h:outputLabel value="Email" />
								<p:inputText value="#{clientesBean.cliente.endereco.email}"
									label="Email" />

								<h:outputLabel value="Telefone residencial" />
								<p:inputMask
									value="#{clientesBean.cliente.endereco.telefoneResidencial}"
									mask="(99) 9999-9999" label="Telefone residencial" />

								<h:outputLabel value="Celular" />
								<p:inputMask mask="(99) 9999-9999?9" label="Celular"
									value="#{clientesBean.cliente.endereco.celular}" />
							</p:panelGrid>
						</p:panel>

						<p:panel>
							<p:commandButton value="Cadastrar"
								action="#{clientesBean.salvar}"
								update="cliente-datatable,cliente-form"
								oncomplete="hidePanelOnSuccess(xhr, status, args, 'panel-cliente-form');"
								icon="ui-icon-circle-plus" rendered="#{!clientesBean.editar}" />

							<p:commandButton value="Atualizar"
								action="#{clientesBean.atualizar}"
								update="cliente-datatable,cliente-form"
								oncomplete="hidePanelOnSuccess(xhr, status, args, 'panel-cliente-form');"
								icon="ui-icon-circle-plus" rendered="#{clientesBean.editar}" />
						</p:panel>
					</p:tab>
				</p:wizard>
			</h:form>
		</p:panel>
	</ui:define>
</ui:composition>
</html>