<html xmlns="http://www.w3.org/1999/xhtml"
	xmlns:h="http://java.sun.com/jsf/html"
	xmlns:p="http://primefaces.org/ui"
	xmlns:f="http://java.sun.com/jsf/core"
	xmlns:ui="http://java.sun.com/jsf/facelets">

<ui:composition template="/template/defaultFuncionario.xhtml">

	<ui:define name="conteudo">

		<h:form prependId="false">
			<p:growl autoUpdate="true" sticky="true" />
		</h:form>

		<h:form prependId="false">

			<p:panel header="Atores Cadastrados">

				<p:commandButton value="Cadastrar Atores"
					action="#{atoresBean.limpar()}" update="ator-form"
					oncomplete="PF('panel-ator-form').show();"
					icon="ui-icon-circle-plus" class="botao-cadastro" />

				<p:dataTable id="ator-datatable" var="ator"
					value="#{atoresBean.all}"
					filteredValue="#{atoresBean.atoresFiltrados}"
					emptyMessage="Nenhum registro encontrado.">

					<p:column filterBy="#{ator.nome}" headerText="Nome">
						<h:outputText value="#{ator.nome}" />
					</p:column>

					<p:column headerText="Qntd. de Oscars">
						<h:outputText value="#{ator.quantidadeDeOscars}" />
					</p:column>

					<p:column headerText="Ação">
						<p:commandButton value="Remover"
							action="#{atoresBean.remover(ator.id)}" update="ator-datatable" />

						<p:commandButton value="Editar"
							action="#{atoresBean.carregar(ator.id)}"
							oncomplete="PF('panel-ator-form').show();" update="ator-form" />
					</p:column>

				</p:dataTable>

			</p:panel>
		</h:form>

		<p:panel header="Dados do ator" widgetVar="panel-ator-form"
			visible="false" closable="true">

			<h:form prependId="false" id="ator-form">

				<p:panel>
					<p:panelGrid columns="2" styleClass="grid"
						columnClasses="label,value">

						<h:outputText value="Nome *" />
						<p:inputText label="Nome" value="#{atoresBean.ator.nome}" />

						<h:outputText value="Qntd. de Oscars: *" />
						<p:spinner value="#{atoresBean.ator.quantidadeDeOscars}" min="0"
							max="10" />

					</p:panelGrid>
				</p:panel>

				<p:panel>
					<p:commandButton value="Cadastrar" action="#{atoresBean.salvar}"
						update="ator-datatable,ator-form"
						oncomplete="hidePanelOnSuccess(xhr, status, args, 'panel-ator-form');" icon="ui-icon-circle-plus" rendered="#{!atoresBean.editar}" />

					<p:commandButton value="Atualizar" action="#{atoresBean.atualizar}"
						update="ator-datatable,ator-form"
						oncomplete="hidePanelOnSuccess(xhr, status, args, 'panel-ator-form');"
						icon="ui-icon-circle-plus" rendered="#{atoresBean.editar}" />
				</p:panel>
			</h:form>
		</p:panel>

	</ui:define>
</ui:composition>
</html>