<html xmlns="http://www.w3.org/1999/xhtml"
	xmlns:h="http://java.sun.com/jsf/html"
	xmlns:p="http://primefaces.org/ui"
	xmlns:f="http://java.sun.com/jsf/core"
	xmlns:ui="http://java.sun.com/jsf/facelets">

<ui:composition template="/template/defaultFuncionario.xhtml">

	<ui:define name="conteudo">

		<h:form prependId="false">
			<p:growl autoUpdate="true" sticky="true" />
		</h:form>

		<h:form prependId="false">

			<p:panel header="Filmes cadastrados">

				<p:commandButton value="Cadastrar filme"
					action="#{filmesBean.limpar()}" update="filme-form"
					oncomplete="PF('panel-filme-form').show();"
					icon="ui-icon-circle-plus" class="botao-cadastro" />

				<p:dataTable id="filme-datatable" var="filme"
					value="#{filmesBean.all}"
					filteredValue="#{filmesBean.filmesFiltrados}"
					emptyMessage="Nenhum registro encontrado.">


					<p:column headerText="Título" filterBy="#{filme.titulo}">
						<h:outputText value="#{filme.titulo}" />
					</p:column>

					<p:column headerText="Ano" filterBy="#{filme.ano}">
						<h:outputText value="#{filme.ano}" />
					</p:column>

					<p:column headerText="Ação">
						<p:commandButton value="Remover"
							action="#{filmesBean.remover(filme.id)}" update="filme-datatable" />

						<p:commandButton value="Editar"
							action="#{filmesBean.carregar(filme.id)}"
							oncomplete="PF('panel-filme-form').show();" update="filme-form" />
					</p:column>

				</p:dataTable>


			</p:panel>
		</h:form>

		<p:panel header="Dados do Filme" widgetVar="panel-filme-form"
			closable="true" visible="false">

			<h:form prependId="false" id="filme-form">

				<p:panel>
					<p:panelGrid columns="2" columnClasses="label,value"
						styleClass="grid">

						<h:outputLabel value="Título" />
						<p:inputText value="#{filmesBean.filme.titulo}" label="Título" />

						<h:outputLabel value="Ano" />
						<p:inputMask mask="9999" value="#{filmesBean.filme.ano}"
							label="Ano" />

						<h:outputLabel value="Categoria" />
						<p:selectOneRadio label="Categoria"
							value="#{filmesBean.filme.categoria}"
							converter="categoriaConverter">
							<f:selectItems value="#{categoriaBean.all}" var="categoria"
								itemLabel="#{categoria.tipo}" itemValue="#{categoria}">
							</f:selectItems>
						</p:selectOneRadio>

						<h:outputLabel value="Diretor" />
						<p:autoComplete label="Diretor"
							value="#{filmesBean.filme.diretor}"
							completeMethod="#{diretorBean.completaDiretores}"
							converter="diretorConverter" var="diretor" itemValue="#{diretor}"
							itemLabel="#{diretor.nome}">
						</p:autoComplete>

						<h:outputLabel value="Ator" />
						<p:autoComplete label="Ator" value="#{filmesBean.filme.atores}"
							completeMethod="#{atoresBean.completaAtores}"
							converter="atorConverter" var="ator" itemValue="#{ator}"
							itemLabel="#{ator.nome}" multiple="true" />
					</p:panelGrid>
				</p:panel>
				<p:panel>
					<p:commandButton value="Cadastrar" action="#{filmesBean.salvar}"
						update="filme-datatable,filme-form"
						oncomplete="hidePanelOnSuccess(xhr, status, args, 'panel-filme-form');"
						icon="ui-icon-circle-plus" rendered="#{!filmesBean.editar}" />

					<p:commandButton value="Atualizar" action="#{filmesBean.atualizar}"
						update="filme-datatable,filme-form"
						oncomplete="hidePanelOnSuccess(xhr, status, args, 'panel-filme-form');"
						icon="ui-icon-circle-plus" rendered="#{filmesBean.editar}" />
				</p:panel>
			</h:form>
		</p:panel>

	</ui:define>
</ui:composition>
</html>