<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:h="http://java.sun.com/jsf/html"
      xmlns:p="http://primefaces.org/ui"
      xmlns:f="http://java.sun.com/jsf/core"
      xmlns:ui="http://java.sun.com/jsf/facelets">

	<ui:composition template="/template/defaultFuncionario.xhtml">
	
		<ui:define name="conteudo">
			
			
		</ui:define>
	</ui:composition>
</html>