<html xmlns="http://www.w3.org/1999/xhtml"
	xmlns:h="http://java.sun.com/jsf/html"
	xmlns:p="http://primefaces.org/ui"
	xmlns:f="http://java.sun.com/jsf/core"
	xmlns:ui="http://java.sun.com/jsf/facelets">

<ui:composition template="/template/defaultFuncionario.xhtml">

	<ui:define name="conteudo">

		<h:form prependId="false">
			<p:growl autoUpdate="true" sticky="true" />
		</h:form>

		<h:form prependId="false">

			<p:panel header="Reservar de Filmes">

				<p:commandButton value="Nova reserva"
					action="#{reservasBean.limpar()}" update="reserva-form"
					oncomplete="PF('panel-reserva-form').show();"
					icon="ui-icon-circle-plus" class="botao-cadastro" />

				<p:dataTable id="reserva-datatable" var="reserva"
					value="#{reservasBean.all}"
					filteredValue="#{reservasBean.reservasFiltradas}"
					emptyMessage="Nenhum registro encontrado.">

					<p:column filterBy="#{reserva.cliente.nome}" headerText="Cliente">
						<h:outputText value="#{reserva.cliente.nome}" />
					</p:column>

					<p:column filterBy="#{reserva.filme.titulo}" headerText="Filme">
						<h:outputText value="#{reserva.filme.titulo}" />
					</p:column>
					
					<p:column headerText="Horário">
						<h:outputText value="#{reserva.horario.toLocaleString()}" />
					</p:column>

					<p:column headerText="Ação">
						<p:commandButton value="Remover"
							action="#{reservasBean.remover(reserva.id)}"
							update="reserva-datatable" />

						<p:commandButton value="Editar"
							action="#{reservasBean.carregar(reserva.id)}"
							oncomplete="PF('panel-reserva-form').show();"
							update="reserva-form" />
					</p:column>

				</p:dataTable>


			</p:panel>
		</h:form>

		<p:panel header="Reservar Filme" widgetVar="panel-reserva-form"
			closable="true" visible="false">

			<h:form prependId="false" id="reserva-form">

				<p:panel>
					<p:panelGrid columns="2" columnClasses="label,value" styleClass="grid">

						<h:outputLabel value="Cliente" />
						<p:selectOneMenu value="#{reservasBean.reserva.cliente}"
							converter="clienteConverter" style="width:100%">
							<f:selectItems value="#{clientesBean.all}" var="cliente"
								itemLabel="#{cliente.nome}" itemValue="#{cliente}" />
						</p:selectOneMenu>

						<h:outputLabel value="Filme" />
						<p:selectOneMenu value="#{reservasBean.reserva.filme}"
							converter="filmeConverter" style="width:100%">
							<f:selectItems value="#{filmesBean.all}" var="filme"
								itemLabel="#{filme.titulo}" itemValue="#{filme}" />
						</p:selectOneMenu>
						
					</p:panelGrid>
				</p:panel>
				
				<p:panel>
					<p:commandButton value="Cadastrar" action="#{reservasBean.salvar}"
						update="reserva-datatable,reserva-form"
						oncomplete="hidePanelOnSuccess(xhr, status, args, 'panel-reserva-form');"
						icon="ui-icon-circle-plus" rendered="#{!reservasBean.editar}" />

					<p:commandButton value="Atualizar"
						action="#{reservasBean.atualizar}"
						update="reserva-datatable,reserva-form"
						oncomplete="hidePanelOnSuccess(xhr, status, args, 'panel-reserva-form');"
						icon="ui-icon-circle-plus" rendered="#{reservasBean.editar}" />
				</p:panel>
			</h:form>
		</p:panel>

	</ui:define>
</ui:composition>
</html>